{% extends "index.html" %}
{% load static %}

{% block title %} | {{ object }}{% endblock %}
{% block "content" %}

<div class="row">
    <div class='col-lg-2 col-lg-offset-1 col-xs-6 padding40'>
        {% if object.imagen %}
        <img src="{{ object.imagen.crop.160x160 }}" class='img-circle' />
        {% endif %}
 
    </div> <!-- col-lg-2 -->
    <div class='col-lg-8 col-xs-12' style='text-align: justify;'>
       <div class="heading-section" style='margin-top: 1em; padding-left: 20px;'><h1>{{ object }}
           </h1> </div>

        <div class='col-lg-12 text-justify texto'>
        {% autoescape off %}
        {{ object.texto }}
        {% endautoescape %}
             <div class='pull-right social'>
                <a href="javascript:window.print()"><i class='icon-printer2'></i></a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://{{ site }}{{ object.get_absolute_url|escape }}&src=sdkpreparse"><i class="icon-facebook2"></i></a>
                <a href="https://twitter.com/intent/tweet?hashtags=elcuencodeplata&original_referer=https://{{ site }}{{ object.get_absolute_url|escape }}&ref_src=twsrc%5Etfw&related=twitterapi%2Ctwitter&text={{ object }}&tw_p=tweetbutton&url=https://{{ site }}{{ object.get_absolute_url|escape }}&via=cuencodeplata" target="_blank"><i class="icon-twitter2"></i></a>
            </div>
 
        </div>

    </div> <!-- col-lg-8 -->
{% if object.libros %}
    <div class='col-lg-10 col-lg-offset-2 col-xs-12' style='margin-top: 2em;'>
        <div class="heading-section padding40" style='margin: 0 0 30px 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Libros del autor/a</h3> </div>
    </div>
    <div class='col-lg-12 col-xs-12 padding40'>
        <div class="owl-carousel libros">
        {% for libro in object.libros %}
            <div class="item">
                <a href="{{ libro.get_absolute_url }}">
					<div class='owl-imagen'><img src="{{ libro.imagen.url }}" alt="{{ libro }}"></div>
                    <div class="desc">
                        <b>{{ libro.autor }}</b>
                        <p>{{ libro.titulo }}</p>
                    </div>
                </a>
            </div> <!-- item -->
        
        {% endfor %}
        </div> <!-- owl-carousel -->
    </div>
{% endif %}

{% if notas %}
    <div class='col-lg-10 col-lg-offset-2 col-xs-12 padding40' style='margin-top: 2em;'>
        <div class="heading-section" style='margin: 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Notas sobre el Autor</h3> </div>
    </div>
    <div class='col-lg-8 col-lg-offset-2 col-xs-12' style='padding: 20px;'>
    {% for i in notas %}
        <div style='background: #F5F5E6; padding: 10px;'>
            <a href="{% url "nota" i.id %}">
            <div style='margin: 0; color: rgba(240,87,54,1);'>{{ i.medio }}{% if i.firma %}, {{ i.firma }}{% endif %}</div>
            <div style='color: rgba(0,0,0,0.7)'>{{ i.titulo }}</div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}


</div> <!-- row -->



{% endblock %}

{% block "style" %}
<style>

@media (min-width: 1024px) {
    .owl-imagen {
        height: 270px;
    }
    .texto {
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {

    .owl-imagen {
        height: 180px;
    }
    .padding40 {
        padding: 0 40px;
    }
    .texto {
        padding: 0 20px;
    }


}
    .heading-section {
        margin-top: 1em;
    }
    .heading-section h2 {
        font-size: 1em;
    }
.social {
    padding-top: 15px;
    font-size: 1em;
}
.social a {
    color: rgba(0,0,0,0.3);
}
.social a:hover {
    color: rgba(0,0,0,0.7);
}

</style>
{% endblock %}

{% block "js" %}
<script>
$("#autores > a").addClass("active");
$('.libros').owlCarousel({
    autoplay: true,
    items: 5,
    loop:true,
    center: true,
    margin:50,
    nav:true,
    dots: false,
    navText: [
        "<i class='icon-chevron-left owl-direction'></i>",
        "<i class='icon-chevron-right owl-direction'></i>"
    ],
    responsiveClass:true,
    responsive:{
        0:{
            items:3,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }


})
</script>
{% endblock %}
