{% extends "index.html" %}
{% load static %}

{% block "content" %}

<div class="heading-section text-center"><h2>Autores y Autoras</h2></div>

<div class="row">
{% for autor in object_list %}
    <div class='col-md-2 {{ autor.apellido.0 }}' style='height: 230px; text-align: center;'>
        <a href="{% url "autor" autor.id %}" class='autor-link'>
        {% if autor.imagen %}<img src="{{ autor.imagen.crop.200x200 }}" class='img-circle' style='width: 100%; max-height: 200px;' />{% endif %}

        <p>{{ autor }}</p>
        </a>
    </div> <!-- col-md-3-->
{% endfor %}
</div> <!-- row -->

{% endblock %}


{% block "style" %}
<style>
.autor-link:hover{
    opacity: 0.3;
}
</style>
{% endblock %}

{% block "js" %}
<script>
$("#autores > a").addClass("active");
</script>
{% endblock %}
