{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div class="row">
    <div class='col-md-2'>
        {% if object.imagen %}
        <img src="{{ object.imagen.crop.200x200 }}" style='width: 100%' class='img-circle' />
        {% endif %}
    </div> <!-- col-md-2 -->
    <div class='col-md-8' style='text-align: justify;'>
        <h3>{{ object.apellido|title }}, {{ object.nombre|title }}</h3>
        <br />
        {{ object.texto|escape }}

        <div class="owl-carousel owl-carousel2">
        {% for libro in object.libro_set.all %}
            <div class="item">
                <img src="{{ libro.imagen.url}}" alt="image" style='width: 200px; height: 100%;'>
                <a href="#" class="pop-up-overlay text-center">
                    <div class="desc">
                        <h3>{{ libro.autor }}</h3>
                        <span>{{ libro.titulo }}</span>
                    </div>
                </a>
            </div> <!-- item -->

        {% endfor %}
        </div> <!-- owl-carousel2 -->

    </div> <!-- col-md-8 -->
</div> <!-- row -->

{% endblock %}

{% block "style" %}
<style>
</style>
{% endblock %}

{% block "js" %}
<script>
$("#autores > a").addClass("active");
</script>
{% endblock %}
