{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div class="row">
    <div class='col-md-2 col-md-offset-1'>
        {% if object.imagen %}
        <img src="{{ object.imagen.crop.200x200 }}" style='width: 100%' class='img-circle' />
        {% endif %}
    </div> <!-- col-md-2 -->
    <div class='col-md-8' style='text-align: justify;'>
        <div class="heading-section" style='margin-top: 1em;'><h1>{{ object }}</h1> </div>

        <div class='text-justify' style='; padding: 5px;'>
        {% autoescape off %}
        {{ object.texto }}
        {% endautoescape %}
        </div>

    </div> <!-- col-md-8 -->
{% if object.autores_de_libros.all %}
    <div class='col-md-10 col-md-offset-2' style='margin-top: 2em;'>
        <div class="heading-section" style='margin: 0 0 30px 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Libros del Autor</h3> </div>
    </div>
    <div class='col-md-12'>
        <div class="owl-carousel libros">
        {% for libro in object.autores_de_libros.all %}
            <div class="item">
                <a href="{% url "libro" libro.id %}">
					<div style='height: 270px;'><img src="{{ libro.imagen.url }}" alt="{{ libro }}"></div>
                    <div class="desc">
                        <b>{{ libro.autor }}</b>
                        <p>{{ libro.titulo }}</p>
                    </div>
                </a>
            </div> <!-- item -->
        
        {% endfor %}
        </div> <!-- owl-carousel -->
    </div>
{% endif %}

{% if notas %}
    <div class='col-md-10 col-md-offset-2' style='margin-top: 2em;'>
        <div class="heading-section" style='margin: 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Notas sobre el Autor</h3> </div>
    </div>
    <div class='col-md-8 col-md-offset-2' style='padding: 20px;'>
    {% for i in notas %}
        <div style='background: #F5F5E6; padding: 10px;'>
            <a href="{% url "nota" i.id %}">
            <div style='margin: 0; color: rgba(240,87,54,1);'>{{ i.medio }}{% if i.firma %}, {{ i.firma }}{% endif %}</div>
            <div style='color: rgba(0,0,0,0.7)'>{{ i.titulo }}</div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}


</div> <!-- row -->



{% endblock %}

{% block "style" %}
<style>
    .heading-section {
        margin-top: 1em;
    }
    .heading-section h2 {
        font-size: 1em;
    }
</style>
{% endblock %}

{% block "js" %}
<script>
$("#autores > a").addClass("active");
$('.libros').owlCarousel({
    autoplay: true,
    items: 5,
    loop:true,
    center: true,
    margin:50,
    nav:true,
    dots: false,
    navText: [
        "<i class='icon-chevron-left owl-direction'></i>",
        "<i class='icon-chevron-right owl-direction'></i>"
    ]
})
</script>
{% endblock %}
