{% extends "index.html" %}
{% load static %}

{% block title %} | Colecciones {% endblock %}
{% block "content" %}

<div class="heading-section text-center"><h2>Colecciones</h2></div>

<div class='row rowmain'>
    {% for coleccion in object_list %}
    <div class='col-md-6 coleccion'>
        <div class='maincoleccion {% if coleccion.orden < 10 %}principal{%endif %}'>
            <a href='{% url "colecciones"  coleccion.slug %}'><h1>{{ coleccion }}</h1></a>
{% if coleccion.orden < 10 %}
            <div class='resumen'>
                {% autoescape off %}
                {{ coleccion.texto }}
                {% endautoescape %}
            </div> <!-- resumen -->
            {% if coleccion.imagen %}
            <div class="imagen_coleccion">
                <img src='{{ coleccion.imagen.thumbnail.490x160 }}' style='width: 100%;'/>
            </div> <!-- imagen_coleccion -->
            {% endif %}
{% endif %}
        </div> <!-- maincoleccion -->
    </div> <!-- col-md-6 -->
    {% endfor %}
    <div class='col-md-12'>&nbsp;</div>
    {% if is_paginated %}
    <div class='col-md-12 text-center'>
     <ul class="paginado">
     <!-- <ul class="pagination pagination-sm"> -->
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class='col-md-12'>&nbsp;</div>


</div> <!-- row -->

{% endblock %}


{% block "style" %}
<style>
div.coleccion {
    padding: 5px;
}
div.coleccion div.principal h1 {
    margin: 0 0 30px 0;
}
div.coleccion div.maincoleccion h1 {
    margin: 0 0 5px 0;
}
div.coleccion div.maincoleccion{
    background: #F5F5E6;
    padding: 5px 15px;
}
div.coleccion > div.principal > div.resumen {
    height: 100px;
    max-height: 100px;
}
div.coleccion div.principal{
    padding: 10px 15px;
    background: #E6F0E6;
    height: 320px;
}
  ul.paginado {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    }
  ul.paginado li {
    display: inline;
  }

@media screen and (max-width: 768px) {
    .rowmain {
        padding: 0 20px;
    }

}


</style>
{% endblock %}

{% block "js" %}
<script>
$("#colecciones > a").addClass("active");
</script>
{% endblock %}
