{% extends "index.html" %}
{% load static %}

{% block title %} | Colecciones {% endblock %}
{% block "content" %}

<div class="heading-section text-center"><h2>Colecciones</h2></div>

<div class='row'>
    {% for coleccion in object_list %}
    <div class='col-md-6 coleccion'>
        <div class='maincoleccion {% if coleccion.orden < 10 %}principal{%endif %}'>
            <a href='{% url "colecciones"  coleccion.slug %}'><h1>{{ coleccion }}</h1></a>
{% if coleccion.orden < 10 %}
            <div class='resumen'>
                {% autoescape off %}
                {{ coleccion.texto }}
                {% endautoescape %}
            </div> <!-- resumen -->
            <div class="owl-carousel">
            {% for n in coleccion.get_10_libros %}
                <div>
                    <a href="{% url "libro" n.id %}">
{% if n.imagen %}
                        <div><img src="{{ n.imagen.thumbnail.120x200}}" alt="{{ n }}"></div>
{% else %}
                        <div><img src="http://via.placeholder.com/160x232?text={{ n.titulo }}" alt="{{ n }}"></div>
{% endif %}
                    </a>
                </div>
            {% endfor %}
            </div> <!-- owl-carousel -->
{% endif %}
        </div> <!-- maincoleccion -->
    </div> <!-- col-md-6 -->
    {% endfor %}
    <div class='col-md-12'>&nbsp;</div>
    {% if is_paginated %}
    <div class='col-md-12 text-center'>
     <ul class="paginado">
     <!-- <ul class="pagination pagination-sm"> -->
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class='col-md-12'>&nbsp;</div>


</div> <!-- row -->

{% endblock %}


{% block "style" %}
<style>
div.coleccion {
    padding: 5px;
}
div.coleccion div.principal h1 {
    margin: 0 0 30px 0;
}
div.coleccion div.maincoleccion h1 {
    margin: 0 0 5px 0;
}
div.coleccion div.maincoleccion{
    background: #F5F5E6;
    padding: 5px 15px;
}
div.coleccion > div.principal > div.resumen {
    height: 130px;
    max-height: 130px;
}
div.coleccion div.principal{
    padding: 10px 15px;
    background: #E6F0E6;
    height: 380px;
}
  ul.paginado {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    }
  ul.paginado li {
    display: inline;
  }

</style>
{% endblock %}

{% block "js" %}
<script>
$("#colecciones > a").addClass("active");
$('.owl-carousel').owlCarousel({
    dots: true,
    autoplay: true,
    items: 5,
    loop:true,
    margin:5,
    responsiveClass:true,
    nav:false,
    navText: [
        "<i class='icon-chevron-left owl-direction'></i>",
        "<i class='icon-chevron-right owl-direction'></i>"
    ]
})

</script>
{% endblock %}
