{% extends "index.html" %}
{% load static %}

{% block title %} | Contacto{% endblock %}
{% block "content" %}
<div class='row'>
    <div class='col-md-12 text-center titulo'>
            <h3>Si desea comunicarse con la editorial escriba aquí</h3>
    </div> <!-- col-md-12 -->

    {% if form.errors.recaptcha %}
    <div class='col-md-12 text-center'>
    {{ form.errors.recaptcha}}
    </div>
    {% endif %}
    <div class='col-md-10 col-md-offset-1'>
        <div style='padding: 20px; margin-bottom: 50px;'>
            <form method="post">
                {% csrf_token %}
              <input type='hidden' name='tipo' value='1' />
              <div class="form-group">
                <label for="InputEmail1">Dirección de Email <span>{{ form.errors.email }}</span></label>
                <input type="email" class="form-control" name='email' id="InputEmail1" placeholder="Email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="InputNombre1">Nombre y Apellido <span>{{ form.errors.nombre }}</span></label>
                <input type="text" class="form-control" name='nombre' id="InputNombre1" placeholder="Nombre y Apellido" value="{% if form.nombre.value %}{{ form.nombre.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="InputMensaje1">Mensaje <span>{{ form.errors.texto }}</span></label>
                <textarea name='texto' class='form-control' rows=8>{% if form.texto.value %}{{ form.texto.value }}{% endif %}</textarea>
              </div>
              <div class="g-recaptcha pull-right" data-sitekey="6LcyvkMUAAAAAKlR8yPob9rCz0ExDkbGLNHcfXKO"></div>
              <br style="clear: both;">
              <button type="submit" class="btn btn-default pull-right">Enviar</button>
            </form>
        </div>
    </div> <!-- col-md-6 -->

</div><!-- row -->
{% endblock %}
{% block "style" %}
<style>
.titulo h3 {
    color: rgba(0,0,0,0.9);
}
.errorlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}
.errorlist li {
    display: inline;
    color: red;
}
</style>
{% endblock %}


{% block "js" %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
</script>
{% endblock %}
