{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div class='cita text-right' style='background: #E6F0E6; padding: 20px; margin-bottom: 40px;'>
<p><i>«Algo elegante: hielo granizado, mezclado con jarabe de bejuco, en un cuenco de plata reluciente»</i></p>
Sei Shônagon
</div>

<p>Latinoamericana e extraterritorial a su vez El cuenco de plata edita edita narrativa, teatro, cine, teoría y ensayo en un catálogo de largo aliento en clásicos contemporáneos.</p>
<p>Fue fundada en 2003 en Buenos Aires, bajo la dirección de Edgardo Russo (1949-2015).</p>

<div class="heading-section text-center" style='margin: 30px 0 30px 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Staff</h3> </div>

Edición y producción:
<div class='row'>
    <div class='col-md-6'>Pablo Hernández <a href='mailto:produccion@elcuencodeplata.com'>produccion [at] elcuencodeplata.com</a></div>
    <div class='col-md-6'>Julio Patricio Rovelli <a href='mailto:jrovelli@elcuencodeplata.com'>jrovelli [at] elcuencodeplata.com</a></div>
</div>

ventas
Emilio García 
ventas [at] el cuencodeplata.com

Administraciòn
Fabián Barreira
administracion [at] elcuencodeplata.com

Derechos
Elizabeth Hutnik

elizabeth [at] elcuencodeplata.com

Cobranzas
Sergio Gallina
cobranzas [at] elcuenco de plata.com


Av. Rivadavia 1559 Piso 3ro Dpto A
CP 1079
Ciudad Autónoma de Buenos Aires
Argentina

tels.
54 11 4382 7001 [ventas]
54 11 4384 0997 [edición]
{% endblock %}


{% block "style" %}
<style>
  .cita p{
    font-size: 1.2em;
  }
</style>
{% endblock %}

{% block "js" %}
<script>
$("#colecciones > a").addClass("active");
</script>
{% endblock %}
