{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div class='cita text-right pull-right'>
<p><i>«Algo elegante: hielo granizado, mezclado con jarabe de bejuco, en un cuenco de plata reluciente»</i></p>
<font style='font-size: .8em;'>Sei Shônagon</font>
</div>
<br style='clear: both;'>

<p style='font-size: 1.1em;'>Latinoamericana e extraterritorial a su vez El cuenco de plata edita edita narrativa, teatro, cine, teoría y ensayo en un catálogo de largo aliento en clásicos contemporáneos.</p>
<p style='font-size: 1.1em;'>Fue fundada en 2003 en Buenos Aires, bajo la dirección de Edgardo Russo (1949-2015).</p>

<div class="heading-section text-center" style='margin: 30px 0 30px 0; padding-top: 1em; border-top: 1px solid rgba(0,0,0,0.3);'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Staff</h3> </div>

<div class='row'>
    <div class='col-md-12 text-center' style='font-size: 1.1em; margin-bottom: .5em;'>Edición y producción</div>
    <div class='col-md-6'>Pablo Hernández <a href='mailto:produccion@elcuencodeplata.com'>produccion [at] elcuencodeplata.com</a></div>
    <div class='col-md-6'>Julio Patricio Rovelli <a href='mailto:jrovelli@elcuencodeplata.com'>jrovelli [at] elcuencodeplata.com</a></div>

    <div class='col-md-12' style='margin-top: 0;'>&nbsp;</div>
    <div class='col-md-6'>
        Ventas:<br>
        Emilio García <a href='mailto:ventas@elcuencodeplata.com'>ventas [at] elcuencodeplata.com</a>
    </div>

    <div class='col-md-6'>
        Administración:<br>
        Fabián Barreira <a href='mailto:administracion@elcuencodeplata.com'>administracion [at] elcuencodeplata.com</a>
    </div>

    <div class='col-md-12' style='margin-top: 0;'>&nbsp;</div>
    <div class='col-md-6'>
        Derechos:<br>
        Elizabeth Hutnik <a href='mailto:elizabeth@elcuencodeplata.com'>elizabeth [at] elcuencodeplata.com</a></div>

    <div class='col-md-6'>
        Cobranzas:<br>
        Sergio Gallina <a href='mailto:cobranzas@elcuencodeplata.com'>cobranzas [at] elcuencodeplata.com</a></div>

    <div class='col-md-12' style='margin-top: 1em;'>&nbsp;</div>

    <div class='col-md-4 col-md-offset-1'>
        <address>
            <strong>Dirección:</strong><br>
            Av. Rivadavia 1559 Piso 3ro Dpto A<br>
            <abbr title="Código Postal">CP</abbr> 1079<br>
            Ciudad Autónoma de Buenos Aires<br>
            Argentina<br>
        </address>
    </div>
    <div class='col-md-4 col-md-offset-1'>
        <address>
            <strong>Teléfonos:</strong><br>
            <a href='tel:+541143827001'>54 11 4382 7001 [ventas]</a><br>
            <a href='tel:+541143840997'>54 11 4384 0997 [edición]</a><br>
        </address>
    </div>
</div>
{% endblock %}


{% block "style" %}
<style>
    address a {
        color: rgba(0,0,0,0.8);
    }
  .cita p{
    font-size: 1em;
  }
  .cita {
    padding: 20px;
    width: 400px;
    margin-bottom: 40px;
    }
</style>
{% endblock %}

{% block "js" %}
<script>
$("#colecciones > a").addClass("active");
</script>
{% endblock %}
