{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div class="owl-carousel owl-carousel1 owl-carousel-fullwidth animate-box" data-animate-effect="fadeIn">
  <div class="item"><a href="{% static "images/slider/slider_1.jpg" %}" class="image-popup"><img src="{% static "images/slider/slider_1.jpg" %}" alt="slider 1"></a></div>
  <div class="item"><a href="{% static "images/slider/slider_2.jpg" %}" class="image-popup"><img src="{% static "images/slider/slider_2.jpg" %}" alt="slider 2"></a></div>
</div>

	<div id="fh5co-featured-work-section">
		<div class="container-fluid">
			<div class="heading-section text-center">
				<h2>Novedades</h2>
			</div>
			<div class="owl-carousel owl-carousel2" style='margin: auto; width: 80%;'>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedad_1.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Michel Onfray</h3>
							<span>Las radicalidadades existenciales </span>
						</div>
					</a>
				</div>

				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedad_2.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Francis Ponge</h3>
							<span>De parte de las cosas – Proemios – Doce pequeños escritos</span>
						</div>
					</a>
				</div>

				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedad_3.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_4.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_5.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_6.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_7.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_8.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_9.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_10.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
					<img src="images/novedades/novedades_11.jpg" alt="image">
					<a href="#" class="pop-up-overlay text-center">
						<div class="desc">
							<h3>Georges Perec</h3>
							<span>El atentado de Sarajevo</span>
						</div>
					</a>
				</div>


			</div>
		</div>
	</div><!-- end fh5co-featured-work-section -->

	<div id="fh5co-blog-section" style="margin-top: 100px;">
		<div class="container">
			<div class="heading-section text-center">
				<h2>Prensa</h2>
			</div>
			<div class="row">
				<div class="col-md-4 blog-section">
					<span>08 <small>Enero 2018</small></span>
					<h3><a href="#">La vida y obra de Enrique Symns</a></h3>
					<p>Agustina Frontera repasa la vida y obra de Enrique Symns (si se pueden separar) para Revista Anfibia 
Autor de: Cerdos & Peces, El señor de los venenos, Big Bad City, En busca del asesino, La banda de los chacales y La vida es un bar, todos publicados en El cuenco de plata.</p>
					<a class="btn btn-primary" href="http://www.revistaanfibia.com/cronica/under-para-siempre/">Lee mas</a>
				</div>
				<div class="col-md-4 blog-section">
					<span>12 <small>Enero 2018</small></span>
					<h3><a href="#">Gombrowicz, el escritor completo</a></h3>
					<p>Marcos Núñez reseña Diario del querido Witold. ¡El 2017 fue un año de grandes novedades en El cuenco de plata!</p>
					<a class="btn btn-primary" href="#">Lee mas</a>
				</div>
				<div class="col-md-4 blog-section">
					<span>15 <small>Enero 2018</small></span>
					<h3><a href="#">El primer Perec
</a></h3>
					<p>Susana Cella reseña para Radar de Página/12, El atentado de Sarajevo, primera novela de Georges Perec y de las últimas novedades del 2017 en El cuenco de plata.  </p>
					<a class="btn btn-primary" href="#">Lee mas</a>
				</div>
			</div>
		</div>
	</div><!-- end: fh5co-blog-section -->
{% endblock %}
