{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div id='slider' class="owl-carousel owl-theme" data-animate-effect="fadeIn" style='margin-top: 4em; margin-bottom: 3em;'>
{% for s in slider %}
{% if s.imagen %}
  <div class="item">
{% if s.destino %}
    <a href="{{ s.destino }}" name="{{ s.titulo }}">
{% endif %}
    <img src="{{ s.imagen.url }}" alt="{{ s.titulo}}" style='box-shadow: 0 0 0 transparent;'>
{% if s.destino %}
    </a>
{% endif %}
 </div>
{% endif %}
{% endfor %}
</div>


	<div id="fh5co-featured-work-section">
		<div class="container-fluid">
			<div class="heading-section text-center">
				<h2>Novedades</h2>
			</div>
			<div class="owl-carousel novedades" style='margin-bottom: .5em;'>
{% for n in novedades %}
				<div class="item">
                    <a href="{% url "libro" n.id %}">
{% if n.imagen %}
					    <div style='height: 270px;'><img src="{{ n.imagen.url }}" alt="{{ n }}"></div>
{% else %}
					    <div style='height: 270px;'><img src="http://via.placeholder.com/160x232?text={{ n.titulo }}" alt="{{ n }}"></div>
{% endif %}
                        <div class="desc">
                            {{ n.get_autores }}
                            <p>{{ n.titulo }}</p>
                        </div>
                    </a>
				</div>
{% endfor %}
			</div>
		</div>
	</div><!-- end fh5co-featured-work-section -->

	<div id="fh5co-featured-work-section">
		<div class="container-fluid">
			<div class="heading-section text-center">
				<h2>Recomendados</h2>
			</div>
			<div class="owl-carousel recomendados">
{% for n in recomendados %}
				<div class="item">
					<!-- <a href="#" class="image-popup"> -->
                    <a href="{% url "libro" n.id %}">
{% if n.imagen %}
					    <div style='height: 270px;'><img src="{{ n.imagen.url }}" alt="{{ n }}"></div>
{% else %}
					    <div style='height: 270px;'><img src="http://via.placeholder.com/160x232?text={{ n.titulo }}" alt="{{ n }}"></div>
{% endif %}
                        <div class="desc">
                            {{ n.get_autores }}
                            <p>{{ n.titulo }}</p>
                        </div>
                    </a>
				</div>
{% endfor %}
			</div>
		</div>
	</div><!-- end fh5co-featured-work-section -->

	<div id="fh5co-blog-section">
		<div class="container-fluid">

            <div class='row'>
                <div class='col-md-6'>
			        <div><h3>En los medios <small style='margin-left: 30px;'><a href='{% url "prensa" %}'>Ver más</a></small></h3></div>
                    {% for nota in articulos %}
                    <div style='margin-top: .8em;'>
                        <a href="{% url "nota" nota.id %}" class='nota'>
                        <span>{{ nota.medio}}</span>
                            {% if nota.firma %} | <span class='autor'>{{ nota.firma}}</span>{% endif %}<br />
                        <strong>{{ nota.titulo }}</strong>
                        </a>
                    </div>
                    {% endfor %}
        		</div> <!-- col-md-6 -->
                <div class='col-md-6'>
			        <div><h3>Noticias/Eventos <small style='margin-left: 30px;'><a href='{% url "noticias" %}'>Ver más</a></small></h3></div>
                    {% for nota in noticias %}
                    <div style='margin-top: .8em;'>
                        <a href="{% url "nota" nota.id %}" class='nota'>
                        <span>{{ nota.medio}}</span>
                            {% if nota.firma %} | <span class='autor'>{{ nota.firma}}</span>{% endif %}<br />
                        <strong>{{ nota.titulo }}</strong>
                        </a>
                    </div>
                    {% endfor %}
        		</div> <!-- col-md-6 -->
 
            </div> <!-- row -->
    	</div><!-- end: container-fluid -->
	</div><!-- end: fh5co-blog-section -->

    <div class='container-fluid' style='margin-top: 40px;'>
        <div class='row'>
            <div class='col-md-8' style='padding-top: 10px;'>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ingresa tu email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Recibir novedades</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class='col-md-4 text-right'>
                <p class="fh5co-social-icons" style='font-size: 40px;'>
                    <a href="http://www.twitter.com/cuencodeplata"><i class="icon-twitter-with-circle"></i></a>
                    <a href="https://www.facebook.com/cuencodeplata/"><i class="icon-facebook-with-circle"></i></a>
                    <a href="https://www.instagram.com/elcuencodeplata/"><i class="icon-instagram-with-circle"></i></a>
                    <a href="https://elcuencodeplata.mitiendanube.com/"><i class="icon-shopping-cart"></i></a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block "style" %}
<style>
h1, h2, h3, h4 {
    /* color: rgba(0,0,0,.8); */
    margin: 10px 0 10px 0;
}
.nota {
    color: rgba(0,0,0,.9);
}
.nota:hover {
    color: rgba(0,0,0,.6);
}
.nota .autor {
    color: rgba(0,0,0,.7);
    font-size: 1em;
}
.nota strong {
    font-size: 1em;
}
.heading-section {
    margin-bottom: 1.5em;
}
</style>
{% endblock %}


{% block "js" %}
<script>
$("#home > a").addClass("active");
$('.novedades').owlCarousel({
    dots: false,
    autoplay: true,
    items: 5,
    loop:true,
    margin:50,
    nav:true,
    navText: [
        "<i class='icon-chevron-left owl-direction'></i>",
        "<i class='icon-chevron-right owl-direction'></i>"
    ]
})
$('.recomendados').owlCarousel({
    dots: false,
    autoplay: true,
    items: 5,
    loop:true,
    margin:50,
    nav:true,
    navText: [
        "<i class='icon-chevron-left owl-direction'></i>",
        "<i class='icon-chevron-right owl-direction'></i>"
    ]
})
var owl = $('#slider');
owl.owlCarousel({
    items: 1,
    loop: true,
    dots: true,
    margin: 0,
    responsiveClass: true,
    nav: false,
    autoplay: true,
    smartSpeed: 500,
    navText: [
        "<i class='icon-chevron-left owl-direction'></i>",
        "<i class='icon-chevron-right owl-direction'></i>"
    ]
});



</script>
{% endblock %}
