{% extends "index.html" %}
{% load static %}

{% block "content" %}

{% if coleccion %}
    <div class="heading-section text-center"><h2>{{ coleccion.nombre}}</h2></div>
    {% if coleccion.texto %}
    <div style='margin: 20px 0 30px 0; padding: 10px 40px;; background: #E6F0E6;'>
    {{ coleccion.texto|linebreaks|safe }}
    </div>
    {% endif %}
    <div class="heading-section text-center"><h3>Autores destacados</h3></div>
    <div class="row">
    {% for autor in autores %}
        <div class='col-md-2 {{ autor.apellido.0 }}
            {% if forloop.first %}
                {% if autores_len > 5 %}
                {% elif autores_len > 4 %}
                    col-md-offset-1
                {% elif autores_len > 3 %}
                    col-md-offset-2
                {% elif autores_len > 1 %}
                    col-md-offset-4
                {% elif autores_len == 1 %}
                    col-md-offset-5
                {% endif %}
            {% endif %}
            ' style='height: 315px; text-align: center;'>
            <a href="{% url "autor" autor.id %}" class='autor-link'>
            {% if autor.imagen %}<img src="{{ autor.imagen.crop.200x200 }}" class='img-circle' style='width: 100%; max-height: 200px;' />{% endif %}
    
            <p>{{ autor}}</p>
            </a>
        </div> <!-- col-md-3-->
    {% endfor %}
    </div> <!-- row -->
    
{% else %}
    <div class="heading-section text-center"><h2>{{ nombre|title }}</h2></div>
{% endif %}

<div class="row">
    <div class='col-md-12'>
    {% for i in libros %}
    <a href="{% url "libro" i.id %}">
        <div class='col-md-6' style='margin-bottom: 30px; height: 222px;'>
            <div class='col-md-5 text-center'>
            {% if i.imagen %}
                <img src='{{ i.imagen.url }}' style='width: 80%;' />
            {% else %}
                <img src='http://via.placeholder.com/160x232?text={{ i.titulo }}' style='width: 80%;' />
            {% endif %}
            </div>
            <div class='col-md-7' style='padding: 0;'>
                {% if not coleccion %}<div style='font-size: 1.1em;'>{{ i.fecha|date:"F Y"}}</div>{% endif %}
                <div style='font-size: 1em; height: 120px; max-height: 140px;'>
                    <div style='font-size: 1.2em;'>{{ i.titulo}}</div>
                    {% for autor in i.autores.all %}
                    <div style='font-size: .9em; color: rgba(0,0,0,0.7);'>{{ autor }}</div>
                    {% endfor %}
                </div>
                {% for c in i.coleccion.all %}
                <div style='font-size: .9em; color: rgba(0,0,0,0.7);'>{{ c}}</div>
                {% endfor %}
                <div style='font-size: .8em; color: rgba(0,0,0,0.5);'>ISBN: {{ i.fISBN}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
    </div> <!-- col-md-12 -->
    {% if is_paginated %}
    <div class='col-md-12 text-center'>
     <ul class="paginado">
     <!-- <ul class="pagination pagination-sm"> -->
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class='col-md-12'>&nbsp;</div>

</div> <!-- row -->

{% endblock %}


{% block "style" %}
<style>
  ul.paginado {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    }
  ul.paginado li {
    display: inline;
  }
.autor-link:hover{
    opacity: 0.3;
}
</style>
{% endblock %}

{% block "js" %}
<script>
{% if coleccion %}
$("#colecciones > a").addClass("active");
{% else %}
$("#{{ nombre }} > a").addClass("active");
{% endif %}
</script>
{% endblock %}
