{% extends "index.html" %}
{% load static %}

{% block opengraph %}
<meta property="og:url"                content="https://{{ site.domain }}{{ object.get_absolute_url }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ object.titulo }}" />
<meta property="og:description"        content="{{ object.texto|striptags|truncatewords:60 }}" />
<meta property="og:image"              content="https://{{ site.domain }}{% static "images/logo.png" %}" />
                    
{% endblock %}


{% block title %} | Artículo '{{ object.titulo }}'{% endblock %}
{% block "content" %}
<div class="row rowmain">
    <div class='col-lg-10 col-lg-offset-1'>
    {% if object.libros %}
        <div class="heading-section" style='margin: 8px 0;'>
            <h4 style='margin: 0; color: rgba(0,0,0,0.8);'>
                {{ object.get_libros }}
            <small class='pull-right'>{{ object.fecha|date:"d M Y" }}</small></h4>
        </div>
    {% else %}
        <div class="heading-section" style='margin: 8px 0;'>
            <h3 style='margin: 0; color: rgba(0,0,0,0.8);'>
            <small class='pull-right'>{{ object.fecha|date:"d M Y" }}</small></h3>
        </div>
    {% endif %}
        <div class="heading-section" style='margin: 8px 0;'><font style='color: #F05736; margin: 0; font-size: 1.5em;'>{{ object.titulo}}</font> </div>
        <div class="heading-section" style='margin: 5px 0;'><h4 style='margin: 0; color: rgba(0,0,0,0.5);'>
                {{ object.medio}}{% if object.firma %} | {{ object.firma}}{% endif %}
             <div class='pull-right social'>
                {% if request.user.is_authenticated %}
                      <a href='{% url "admin:home_nota_change" object.id %}' target="_blank" style='margin-right: 20px;'><i class="glyphicon glyphicon-edit"></i> Editar</a>
                {% endif %}
                <a data-toggle="tooltip" data-placement="bottom" title="Imprimir Nota" href="javascript:window.print()"><i class='icon-printer2'></i></a>
                <a data-toggle="tooltip" data-placement="bottom" title="Enviar por email" href="#enviarMail" id='btnEnviarEmail'><i class='icon-envelope2'></i></a>
                <a data-toggle="tooltip" data-placement="bottom" title="Compartir en Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://{{ site }}{{ object.get_absolute_url|escape }}&src=sdkpreparse"><i class="icon-facebook2"></i></a>
                <a data-toggle="tooltip" data-placement="bottom" title="Compartir en Twitter" href="https://twitter.com/intent/tweet?hashtags=elcuencodeplata&original_referer=https://{{ site }}{{ object.get_absolute_url|escape }}&ref_src=twsrc%5Etfw&related=twitterapi%2Ctwitter&text={{ object }}&tw_p=tweetbutton&url=https://{{ site }}{{ object.get_absolute_url|escape }}&via=cuencodeplata" target="_blank"><i class="icon-twitter2"></i></a>
                {% if object.fuente %}
                <a href="{{ object.fuente }}" rel="author" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Fuente"><i class="glyphicon glyphicon-share"></i></a>
                {% endif %}
            </div>
 
            </h4>
         </div>
    </div>
    {% if object.subtitulo %}
    <div class='col-lg-10 col-lg-offset-1 text-justify' id='subtitulo'>
        {% autoescape off %}
        {{ object.subtitulo}}
        {% endautoescape %}
    </div>
    {% endif %}
    <div class='col-lg-12'>&nbsp;</div>
    <div class='col-lg-10 col-lg-offset-1 text-justify html'>
        {% autoescape off %}
        {{ object.texto}}
        {% endautoescape %}
    </div>
    <div class='col-lg-12'>&nbsp;</div>

    <div class='row'>
{% if object.get_notas_relacionadas or object.get_notas_relacionadas %}
        <div class='col-lg-10 col-lg-offset-1 col-xs-12'>
            <div class='col-lg-12'>
                <div style='color: rgba(0,0,0,0.8); font-size: .9em;'>Otros artículos</div>
            </div>
            <div class='col-lg-12' style='padding: 10px 40px 20px ;'>
            {% for i in object.get_notas_relacionadas %}
                <div style='font-size: .9em; padding: 5px;'>
                    <a href="{% url "nota" i.nota.id %}">
                    {% if i.titulo %}
                    <div>{{ i.titulo}}</div>
                    {% else %}
                    <div>{{ i.nota.titulo}}</div>
                    {% endif %}
                    </a>
                </div>
            {% endfor %}
            {% for i in object.get_notas_relacionadas_urls %}
                <div style='font-size: .9em; padding: 5px;'>
                    <a href="{{ i.url }}">
                    <div>{{ i.titulo}}</div>
                    </a>
                </div>
            {% endfor %}
 
            </div>
        </div>
{% endif %}
{% if notas %}
            <div class='col-lg-10 col-lg-offset-1 col-xs-12' style='margin-top: 20px;'>
                <div class="heading-section" style='margin: 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Artículos relacionados</h3> </div>
            </div>
            <div class='col-lg-8 col-lg-offset-1 col-xs-12' style='padding: 20px;'>
            {% for i in notas %}
                <div style='background: #F5F5E6; padding: 10px;'>
                    <a href="{% url "nota" i.id %}">
                    <div style='margin: 0; color: rgba(240,87,54,1);'>{{ i.medio}}{% if i.firma %} | {{ i.firma}}{% endif %}</div>
                    <div style='color: rgba(0,0,0,0.7)'>{{ i.titulo}}</div>
                    </a>
                </div>
            {% endfor %}
            </div>
{% endif %}
        </div>
    </div> <!-- row -->


</div> <!-- row -->

<div class="modal fade" tabindex="-1" role="dialog" id="modalEmail">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
<form id='formMail'>
  <div class="form-group">
    <label for="inputEmail1">De</label>
    <input type="email" name="from" class="form-control" id="inputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="inputEmail2">Para</label>
    <input type="email" name='to' class="form-control" id="inputEmail2" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="inputTitulo">Subject</label>
    <input type="text" name='subject' class="form-control" id="inputTitulo" placeholder="Título" value="{{ object.titulo }}">
  </div>
    <div>&nbsp;</div>
    <div style='width: 305px; margin: auto;'>
              <div class="g-recaptcha"  data-sitekey="6LcyvkMUAAAAAKlR8yPob9rCz0ExDkbGLNHcfXKO"></div>
    </div>

<div id="msg" style='display: none;'>

    <div style='width: 80%; margin: auto; padding: 40px; font-size: 1.3em;'>
        Hola, %%from%% quiere enviarte este <a href="https://{{ site.domain }}{{ object.get_absolute_url }}">enlace</a>!<br /><br />
        Te dejo un adelanto:<br /><br />
        {% autoescape off %}
        <div style='width: 80%; margin: auto;'>{{ object.texto|truncatewords_html:60 }}</div>
        {% endautoescape %}
    </div>
</div>

</form>
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id='btnSendMail'>Envíar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





{% endblock %}

{% block "style" %}
<style>
.form-group {
    margin-bottom: 5px;
}
#subtitulo {
    background: #E6F0E6;
    margin-top: 1em;
    padding: 1em 1.5em;
}
#subtitulo p {
    font-size: 1.1em;
    color: rgba(0,0,0,0.8);
}
.html p {
    text-indent: 1em;
    margin: .5em;
    color: rgba(0,0,0,0.7);
}
.social {
    padding-top: 5px;
    padding-left: 20px;
    font-size: .7em;
}
.social a {
    color: rgba(0,0,0,0.3);
}
.social a:hover {
    color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 768px) {
    .rowmain {
        padding: 0 40px;
    }
}

</style>
{% endblock %}

{% block "js" %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
$("#prensa > a").addClass("active");
$("#btnEnviarEmail").click(function(e){
    e.preventDefault();
    console.log("lala");
    $("#modalEmail").modal();
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$("#btnSendMail").click(function(){

    var form = $("#formMail");
    var from = $("[name='from']", form).val()
    var to = $("[name='to']", form).val()
    var subject  = $("[name='subject']", form).val()
    var msg = $("#msg").html();
    var csrftoken = $("[name=csrfmiddlewaretoken]", form).val();
    var ok = false;

    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if( regex.test(from) && regex.test(to) ){
        ok=true;
    }else{
        ok=false;
    }

    if( ok ){

        $.post("{% url 'sendmail' %}", {from: from,
            to: to,
            msg: msg,
            subject: subject,
            csrfmiddlewaretoken:csrftoken,
            recaptcha:grecaptcha.getResponse()
        }, function(data){
            $("#modalEmail").modal("hide");
        }, 'json').fail(function(errors){
        });
    }else{
//        $(this).parent().parent().addClass("has-error");
//        $(this).removeClass("btn-default").addClass("btn-danger");
        console.log("error");
    }
})


</script>
{% endblock %}
