{% extends "index.html" %}
{% load static %}

{% block "content" %}
<div class="row">
{% comment %}
    <div class='col-md-12' style='margin-top: 1em;'>
        <div class="heading-section text-center"><h2>Prensa</h2> </div>
    </div>
{% endcomment %}
    <div class='col-md-10 col-md-offset-1'>
    {% if object.libro %}
        <div class="heading-section" style='margin: 0;'>
            <h3 style='margin: 0; color: rgba(0,0,0,0.8);'>{{ object.libro}}
            <small class='pull-right'>{{ object.fecha|date:"d M Y" }}</small></h3>
        </div>
    {% else %}
        <div class="heading-section" style='margin: 0;'>
            <h3 style='margin: 0; color: rgba(0,0,0,0.8);'>
            <small class='pull-right'>{{ object.fecha|date:"d M Y" }}</small></h3>
        </div>
    {% endif %}
        <div class="heading-section" style='margin: 0;'><h2 style='margin: 0;'>{{ object.titulo}}</h2> </div>
        <div class="heading-section" style='margin: 0;'><h4 style='margin: 0; color: rgba(0,0,0,0.5);'>
                {{ object.medio}}{% if object.firma %} | {{ object.firma}}{% endif %}
            {% if object.fuente %}<a class='pull-right' href="{{ object.fuente }}">Fuente</a>{% endif %}
            </h4>
         </div>
    </div>
    {% if object.subtitulo %}
    <div class='col-md-10 col-md-offset-1 text-justify' >
        {% autoescape off %}
        {{ object.subtitulo|linebreaks }}
        {% endautoescape %}
    </div>
    {% endif %}
    <div class='col-md-12'>&nbsp;</div>
    <div class='col-md-10 col-md-offset-1 text-justify html' style='background: #E6F0E6; padding: 40px;'>
        {% autoescape off %}
        {{ object.texto}}
        {% endautoescape %}
    </div>
    <div class='col-md-12'>&nbsp;</div>

{% if notas %}
    <div class='col-md-10 col-md-offset-1'>
        <div class="heading-section" style='margin: 0;'><h3 style='margin: 0; color: rgba(0,0,0,0.8);'>Artículos relacionados</h3> </div>
    </div>
    <div class='col-md-8 col-md-offset-1' style='padding: 20px;'>
    {% for i in notas %}
        <div style='background: #F5F5E6; padding: 10px;'>
            <a href="{% url "nota" i.id %}">
            <div style='margin: 0; color: rgba(240,87,54,1);'>{{ i.medio}}{% if i.firma %}, {{ i.firma}}{% endif %}</div>
            <div style='color: rgba(0,0,0,0.7)'>{{ i.titulo}}</div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}


</div> <!-- row -->



{% endblock %}

{% block "style" %}
<style>
.html p {
    margin: .5em;
}
</style>
{% endblock %}

{% block "js" %}
<script>
$("#prensa > a").addClass("active");
</script>
{% endblock %}
