{% extends "index.html" %}
{% load static %}

{% block title %} | En los medios{% endblock %}
{% block "content" %}
<div class="row">
{% if destacados and  page_obj.has_previous == False %}
    <div class='col-md-12'>
        <div class="heading-section" style='margin: 0;'><h3 style='margin: 0;'>Artículos destacados</h3> </div>
    </div>
    {% for i in destacados %}
    <div class='col-md-6' style='padding: 20px;'>
        <div style='background: #E6F0E6; padding: 10px;'>
            <a href="{% url "nota" i.id %}">
            {% if i.libro %}
            <div style='color: rgba(240,87,54,1); font-size: .8em;'>{{ i.libro }}</div>
            {% endif %}
            <div style='color: rgba(0,0,0,0.8); font-size: .9em;'>
                {{ i.medio }}{% if i.firma %} | {{ i.firma }}{% endif %}
            </div>
            <div style='color: rgba(0,0,0,0.6); font-size: 1.1em;'>{{ i.titulo }}</div>
            </a>
        </div>
    </div>
    {% endfor %}

    <div class='col-md-12'>&nbsp;</div>
    <div class='col-md-12'>
        <div><h3 style='margin: 0; color: #643241'>Otros Artículos</h3> </div>
    </div>
{% elif destacados and  page_obj.has_previous == True%}
    <div class='col-md-12'>
        <div class="heading-section" style='margin: 0;'><h3 style='margin: 0;'>Artículos</h3> </div>
    </div>
{% else %}
    <div class='col-md-12'>
        <div class="heading-section" style='margin: 0;'><h3 style='margin: 0;'>Noticias</h3> </div>
    </div>
{% endif %}

</div> <!-- row -->

<div class="row">
    <div class='col-md-6' style='padding: 20px;' id='prensa_1'>
        <div style='background: #F5F5E6; height: 100%;'>
    {% for i in notas %}
    {% if forloop.counter == 11 %}
        </div>
    </div> <!-- col-md-6 -->
    <div class='col-md-6' style='padding: 20px;' id='prensa_2'>
        <div style='background: #F5F5E6; height: 100%;'>
    {% endif %}
        <div style='; padding: 10px;'>
            <a href="{% url "nota" i.id %}">
            <div style='margin: 0; color: rgba(240,87,54,1); font-size: .9em;'>
                {{ i.medio }}{% if i.firma %}, {{ i.firma }}{% endif %}
            </div>
            <div style='color: rgba(0,0,0,0.7); font-size: 1.1em;'>{{ i.titulo }}</div>
            </a>
        </div>
    {% endfor %}
        </div>
    </div> <!-- col-md-6 -->

</div> <!-- row -->

<div class="row">
 
    <div class='col-md-12'>&nbsp;</div>
    {% if is_paginated %}
    <div class='col-md-12 text-center'>
     <ul class="paginado">
     <!-- <ul class="pagination pagination-sm"> -->
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class='col-md-12'>&nbsp;</div>



</div> <!-- row -->



{% endblock %}

{% block "style" %}
<style>
  ul.paginado {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    }
  ul.paginado li {
    display: inline;
  }

</style>
{% endblock %}

{% block "js" %}
<script>
{% if destacados %}
$("#prensa > a").addClass("active");
setTimeout(function(){
    var h1=$("#prensa_1").outerHeight(true);
    var h2=$("#prensa_1").outerHeight(true);
    if ( h1 == h2 ){
        h1=h1+20;
        $("#prensa_1").css("height",h1+"px");
        $("#prensa_2").css("height",h1+"px");
    }
        
    }, 500);
{% endif %}
</script>
{% endblock %}
