{% extends "index.html" %}
{% load static %}

{% block title %} | Recomendados{% endblock %}

{% block "content" %}

<div class="heading-section text-center"><h2>Recomendados</h2></div>

<div class="row">
<div class='col-lg-12'>
{% for i in libros %}
<a href="{{ i.get_absolute_url }}">
    <div class='col-lg-6' style='margin-bottom: 30px; height: 222px;'>
        {% if i.imagen %}
        <div class='col-lg-5 col-xs-5 text-center'>
                <img src='{{ i.imagen.thumbnail.137x210}}' style='width: 80%;' />
        </div>
        <div class='col-lg-7 col-xs-7' style='padding: 0;'>
            <div style='font-size: 1em; height: 220px;;'>
                <div style='font-size: 1.2em;'>{{ i.titulo}}</div>
                {% for autor in i.autores.all %}
                <div style='font-size: 1em; color: rgba(0,0,0,0.8);'>{{ autor }}</div>
                {% endfor %}
            {% if i.descripcion %}
                <div style='font-size: .9em; color: rgba(0,0,0,0.7); margin-top: 1em;;'>{{ i.descripcion }}</div>
            {% endif %}
            </div>
{% comment %}            <div style='font-size: .8em; color: rgba(0,0,0,0.5);'>ISBN: {{ i.fISBN}}</div>{% endcomment %}
 
        </div>
        {% endif %}
    </div>
</a>
{% endfor %}
</div> <!-- row -->
</div> <!-- row -->
{% if is_paginated %}
<div class='col-lg-12 text-center'>
 <ul class="paginado">
 <!-- <ul class="pagination pagination-sm"> -->
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}
<div class='col-lg-12'>&nbsp;</div>


{% endblock %}


{% block "style" %}
<style>
  ul.paginado {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    }
  ul.paginado li {
    display: inline;
  }
.autor-link:hover{
    opacity: 0.3;
}
</style>
{% endblock %}

{% block "js" %}
<script>
$("#{{ nombre }} > a").addClass("active");
</script>
{% endblock %}
